@model Job_Portal.Models.CategoryDto

@{
    ViewBag.Title = "Edit Category";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-5">
    <h2 class="mb-4 text-center">@ViewBag.Title</h2>

    <form action="/Category/Update/@Model.JobCategoryId" method="POST">
        <input type="hidden" name="JobCategoryId" value="@Model.JobCategoryId" />
        <div class="form-group">
            <label for="Name">Category Name:</label>
            <input type="text" class="form-control" name="Name" id="Name" value="@Model.Name" required />
        </div>
        <button type="submit" class="btn btn-primary">Update Category</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
